Airflow/dags/__pycache__/01_test.cpython-310.pyc
Airflow/dags/__pycache__/01.test.cpython-310.pyc
Airflow/dags/__pycache__/02_operator.cpython-310.pyc
Airflow/dags/__pycache__/test.cpython-310.pyc
Airflow/logs/dag_id=DEEPSI_BASH_DAG/run_id=manual__2026-03-17T054354.148374+0000/task_id=bash_task/attempt=1.log
Airflow/logs/dag_id=DEEPSI_BASH_DAG/run_id=manual__2026-03-17T054354.148374+0000/task_id=first_task/attempt=1.log
Airflow/logs/dag_id=DEEPSI_BASH_DAG/run_id=manual__2026-03-17T054354.148374+0000/task_id=second_task/attempt=1.log
Airflow/logs/dag_id=DEEPSI_DAG/run_id=manual__2026-03-17T053737.167767+0000/task_id=final_task/attempt=1.log
Airflow/logs/dag_id=DEEPSI_DAG/run_id=manual__2026-03-17T053737.167767+0000/task_id=first_task/attempt=1.log
Airflow/logs/dag_id=DEEPSI_DAG/run_id=manual__2026-03-17T053737.167767+0000/task_id=second_task/attempt=1.log
Airflow/logs/dag_id=DEEPSI_DAG/run_id=manual__2026-03-17T054055.726325+0000/task_id=bash_task/attempt=1.log
Airflow/logs/dag_id=DEEPSI_DAG/run_id=manual__2026-03-17T054055.726325+0000/task_id=bash_task/attempt=2.log
Airflow/logs/dag_id=DEEPSI_DAG/run_id=manual__2026-03-17T054055.726325+0000/task_id=first_task/attempt=1.log
Airflow/logs/dag_id=DEEPSI_DAG/run_id=manual__2026-03-17T054055.726325+0000/task_id=first_task/attempt=2.log
Airflow/logs/dag_id=DEEPSI_DAG/run_id=manual__2026-03-17T054055.726325+0000/task_id=second_task/attempt=1.log
Airflow/logs/dag_id=DEEPSI_DAG/run_id=manual__2026-03-17T054055.726325+0000/task_id=second_task/attempt=2.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T051140.585706+0000/task_id=first_task/attempt=1.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T051140.585706+0000/task_id=second_task/attempt=1.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T051140.585706+0000/task_id=third_task/attempt=1.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T051409.663823+0000/task_id=first_task/attempt=1.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T051409.663823+0000/task_id=first_task/attempt=2.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T051409.663823+0000/task_id=second_task/attempt=1.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T051409.663823+0000/task_id=second_task/attempt=2.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T051409.663823+0000/task_id=third_task/attempt=1.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T051409.663823+0000/task_id=third_task/attempt=2.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T051703.404179+0000/task_id=final_task/attempt=1.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T051703.404179+0000/task_id=first_task/attempt=1.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T051703.404179+0000/task_id=first_task/attempt=2.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T051703.404179+0000/task_id=second_task/attempt=1.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T051703.404179+0000/task_id=second_task/attempt=2.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T051703.404179+0000/task_id=third_task/attempt=1.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T051703.404179+0000/task_id=third_task/attempt=2.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T051815.930124+0000/task_id=final_task/attempt=1.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T051815.930124+0000/task_id=first_task/attempt=1.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T051815.930124+0000/task_id=second_task/attempt=1.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T051815.930124+0000/task_id=third_task/attempt=1.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T052220.139098+0000/task_id=final_task/attempt=1.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T052220.139098+0000/task_id=final_task/attempt=2.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T052220.139098+0000/task_id=first_task/attempt=1.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T052220.139098+0000/task_id=first_task/attempt=2.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T052220.139098+0000/task_id=second_task/attempt=1.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T052220.139098+0000/task_id=second_task/attempt=2.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T052220.139098+0000/task_id=third_task/attempt=1.log
Airflow/logs/dag_id=first_dag/run_id=manual__2026-03-17T052220.139098+0000/task_id=third_task/attempt=2.log
Airflow/logs/dag_processor/2026-03-17/dags-folder/01_test.py.log
Airflow/logs/dag_processor/2026-03-17/dags-folder/01.test.py.log
Airflow/logs/dag_processor/2026-03-17/dags-folder/02_operator.py.log
Airflow/logs/dag_processor/2026-03-17/dags-folder/test.py.log
Airflow/dags/__pycache__/test.cpython-310.pyc
Airflow/logs/dag_id=DEEPSI_BASH_DAG/run_id=manual__2026-03-17T060455.799525+0000/task_id=bash_task/attempt=1.log
Airflow/logs/dag_id=DEEPSI_BASH_DAG/run_id=manual__2026-03-17T060455.799525+0000/task_id=first_python_task/attempt=1.log
Airflow/logs/dag_id=DEEPSI_BASH_DAG/run_id=manual__2026-03-17T060455.799525+0000/task_id=second_python_task/attempt=1.log
Airflow/dags/__pycache__/03_XComs_auto.cpython-310.pyc
Airflow/logs/dag_id=XCOM_DAG_AUTO/run_id=manual__2026-03-17T063307.473762+0000/task_id=bash_task/attempt=1.log
Airflow/logs/dag_id=XCOM_DAG_AUTO/run_id=manual__2026-03-17T063307.473762+0000/task_id=first_python_task/attempt=1.log
Airflow/logs/dag_id=XCOM_DAG_AUTO/run_id=manual__2026-03-17T063307.473762+0000/task_id=first_python_task__1/attempt=1.log
Airflow/logs/dag_id=XCOM_DAG_AUTO/run_id=manual__2026-03-17T063307.473762+0000/task_id=second_python_task/attempt=1.log
Airflow/logs/dag_id=XCOM_DAG_AUTO/run_id=manual__2026-03-17T064023.153047+0000/task_id=bash_task/attempt=1.log
Airflow/logs/dag_id=XCOM_DAG_AUTO/run_id=manual__2026-03-17T064023.153047+0000/task_id=first_python_task/attempt=1.log
Airflow/logs/dag_id=XCOM_DAG_AUTO/run_id=manual__2026-03-17T064023.153047+0000/task_id=first_python_task__1/attempt=1.log
Airflow/logs/dag_id=XCOM_DAG_AUTO/run_id=manual__2026-03-17T064023.153047+0000/task_id=second_python_task/attempt=1.log
Airflow/logs/dag_id=XCOM_DAG_AUTO/run_id=manual__2026-03-17T064116.574054+0000/task_id=bash_task/attempt=1.log
Airflow/logs/dag_id=XCOM_DAG_AUTO/run_id=manual__2026-03-17T064116.574054+0000/task_id=first_python_task/attempt=1.log
Airflow/logs/dag_id=XCOM_DAG_AUTO/run_id=manual__2026-03-17T064116.574054+0000/task_id=first_python_task__1/attempt=1.log
Airflow/logs/dag_id=XCOM_DAG_AUTO/run_id=manual__2026-03-17T064116.574054+0000/task_id=second_python_task/attempt=1.log
Airflow/logs/dag_processor/2026-03-17/dags-folder/03_XComs_auto.py.log
